/*导航栏*/
.topbgbox{ height:80px;}
.topbg { position: absolute; top: 0px; width: 100%; z-index: 99; height: 80px; background:#fff;}
.logo { width: 60px; height: 60px; float: left; margin: 10px 10px 10px; background-image: url(../images/logo.png); }
.live{ width:199px; height:60px; float:left; margin-top:10px; margin-left:10px;background:url(https://files.fds.api.xiaomi.com/publicfiles/395665420530711341.png) no-repeat;}
.top { width: 1080px; height: 80px; margin: 0 auto; }
.top ul { height: 35px; line-height: 35px; float: right; margin: 20px 0 auto auto; padding-top: 8px; list-style: none; }
.top ul li { float: left; height: 55px; line-height: 35px; margin: auto 18px; font: 16px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif; }
.top ul li a { color: #515151; text-decoration: none; }
.top ul li a:hover { color: #e31a48; cursor:pointer }
.nav-down { position: absolute; top: 80px; left: 0px; width: 100%;}
.nav-down .nav-down-menu { height: 60px; width: 100%; background:#FFF; position: absolute; display: none; z-index: 99; }
.nav-down #shequ{ height: 60px; width: 100%; background:#fff; position: absolute; display: none; z-index: 99; }
.nav-down .nav-down-menu .nav-down-inner { margin:auto; width:1080px; position: relative;}
.nav-down .nav-down-menu .nav-down-inner li{ float:left; display:block}
.nav-down #weibo .nav-down-inner .jia li { margin:0 10px 0 820px}
.nav-down #shequ .nav-down-inner .yun li { margin:0 10px 0 790px}
.nav-down .nav-down-inner-other li:after{
  position: absolute;
  left: 0;
  top: 20px;
  z-index:24;
  width: 1px;
  height: 100px;
  content: "";
  background-color: #e0e0e0;
}
.nav-down .nav-down-inner-other li:first-child:after{
  width:0px;
}

.nav-down .nav-down-inner-other li{
  position: relative;
  float: left;
  width: 200px;
  padding: 35px 12px 0;
  text-align: center;
}
/*banner滚屏*/
.mod-banner { background: #fff; height:780px; position: relative; }
.mod-banner .banners { width: 100%; height: 780px; overflow: hidden; position: absolute; }
.mod-banner .banner { width: 100%; height: 780px; overflow: hidden; position: absolute; }
.mod-banner .banner .bannerimg1 { width:100%; height: 100%; background: url(../images/c-1.jpg) top center no-repeat; }
.mod-banner .banner .bannerimg2 { width:100%; height: 100%; background: url(../images/fcon1.jpg) top center no-repeat; }
/*.mod-banner .banner .bannerimg3 { width:100%; height: 100%; background: url(../images/c-11.jpg) top center no-repeat; }
.mod-banner .banner .bannerimg4 { width:100%; height: 100%; background: url(../images/c-6.jpg) top center no-repeat; }*/
.mod-banner .banner .info { width: 400px; height: 160px; position: absolute; right: 50%; margin-right: -400px; background:rgba(227,25,72,0.8); top: 230px; }
.mod-banner .info .link-download { width: 148px; height: 40px; overflow: hidden; position: absolute; bottom: -70px; right: 0px; cursor: pointer; text-decoration: none; }
.mod-banner .info .link-download span { position: absolute; display: block; left: 10px; cursor: pointer; font-size: 28px; line-height: 50px; color: white; font-weight: 500; font-family: "Microsoft YaHei" }
.mod-banner .banner1 .info .link-download span,
.mod-banner .banner2 .info .link-download span { color: #3091f2; }
.mod-banner .banner .info{ color:#FFF; text-align:center; padding-top:40px}
.mod-banner .banner .info h3 { font-size:46px;}
.mod-banner .banner .info p { font-size:18px; margin-top:30px}
.banner .erweima{ width: 230px; height: 140px; position: absolute; right: 50%; margin-right: -400px; top: 460px;  background:url(../images/erweima.png) no-repeat; opacity:0.7 }
.mod-banner .focus { width: 1080px; margin: 0px auto; padding-top: 740px; text-align: center; }
.mod-banner .focus a { text-decoration: none; z-index: 3; width: 24px; height: 24px; position: relative; display: inline-block; overflow: hidden; margin: 0px 3px; zoom: 1; }
.mod-banner .focus a .bg-m { z-index: 4; color: white; line-height: 40px; font-size: 40px; position: absolute; display: block; left: 2px; top: 6px; cursor: pointer; display: none; }
.mod-banner .focus a .bg-b { background-image: url(../images/i_dot.32.png); position: absolute; display: block; left: 0px; top: 0px; cursor: pointer; width: 18px; height: 18px; }
.mod-banner .focus a .inner { background-image: url(../images/i_dot_hover.32.png); position: absolute; left: 0px; top: 0px; z-index: 9; opacity: 0; display: none ; display: none; width: 18px; height: 18px; }
.mod-banner .focus a.on .inner,
.mod-banner .focus a:hover .inner { cursor: pointer; display: block; border: 0; -webkit-transition: opacity .3s ease-in-out; -ms-transition: opacity .3s ease-in-out; transition: opacity .3s ease-in-out; opacity: 1; }
.mod-banner .focus .hover .inner { display: block; }
/*底部*/
.footer { border-top: solid 1px #F1F1F1 }
.footer .footer_about { width: 1080px; height: 160px; margin: 0 auto; }
.footer .footer_about li { float: left; margin-right: 50px; line-height: 160px; }
.footer .footer_about li a { font-size: 14px; font-family: "微软雅黑"; color: #515151 }
.footer .footer_about .footer_call { float: right; margin-top: 22px; font: 14px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif; text-align: center; }
.footer .footer_about .footer_call .phone { color: #000; font-size: 26px; margin-bottom: 5px; line-height: 1; }
.footer .footer_about .footer_call p { color: #6d6d6d; margin: 0 0 15px; text-align: center; }
.footer .footer_about .footer_call a { width: 118px; background-color: #e31a48; font-size: 12px; display: inline-block; height: 28px; line-height: 28px; color: #FFF; text-align: center; border: 1px solid #e31a48 }
.footer .footer_copy { border-top: solid 1px #F1F1F1 }
.footer .footer_copy div { width: 1080px; height: 50px; margin: 0 auto; color: #999 }
.footer .footer_copy div p { float: left; margin-top: 20px }
.footer .footer_copy div a { float: left; margin: 20px 0 0 30px; color: #999 }
/*播放*/
.bofangbox01{ width:1080px; height:100px;position: relative; margin:auto}
.bofangbox01 .bofang { width: 130px; height: 40px; background: url(../images/bofang.png) no-repeat; position: absolute; top: 580px; left:340px; }
.bofangbox01 .bofang a { display: block; text-decoration: none; width: 130px; height: 40px; }

.bofangbox02{ width:1080px; height:100px;position: relative; margin:auto}
.bofangbox02 .bofang { width: 130px; height: 40px; background: url(../images/bofang.png) no-repeat; position: absolute; top: 580px; left:340px; }
.bofangbox02 .bofang a { display: block; text-decoration: none; width: 130px; height: 40px; }
.ios-btn{  margin-top: 10px;
  width: 235px;
  height: 40px;
  line-height: 40px;
  color: #70c9fd;
  font-size: 14px;
  border: 1px solid #70c9fd;
  display: block;
  border-radius: 5px;
  text-align: center;}
